{% extends 'home/index.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Event 1</h5>
        <div class="card-body">
            <h5 class="card-title">Event title </h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div>
        <p></p>
    </div>
    <div class="card">
        <h5 class="card-header">Event 2</h5>
        <div class="card-body">
            <h5 class="card-title">Event title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
{% endblock %}
