{% extends 'home/index.html.twig' %}

{% block title %}Announcements{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
    <a class="btn btn-info ml-auto offset-10 mb-2" href="{{ path('app_announcement_add') }}">Add announce</a>
    {% endif %}
    {% for annonce in annonces %}
        <div class="card mt-1">
            <h5 class="card-header d-flex">{{ annonce.title |raw  }}
                <form action="{{ path('app_announcement_delete', {id: annonce.id}) }}" method="post" class="ml-auto offset-10">
                    {% if is_granted("ROLE_ADMIN") %}

                    <button type="submit" class="btn btn-info ml-auto">Delete</button>
                    {% endif %}

                </form>
            </h5>
            <div class="card-body">
                <p class="card-text"><p>

                {{ annonce.message |raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
